.text-color-chart{
    color : #5db075 !important;
}
.input-w-75{
    width: 70% !important;
    margin-left: 4em;
}

.input-w-80 {
    width: 80% !important;
    margin-left: 4em;
}

a.sidebar-link.collapsed {
    line-height: 1;
}

.none{
    display: none;
}
input,select{
    box-shadow: none !important;
    text-transform: uppercase;
}
.form-control{
    height: 31px !important;
    outline: none !important;
    border: 1px solid #ccc;
}
.btn{
    height: 42px !important;
}
.form-control:is(:focus,:active){
    border: .5px solid #5db075 !important;
    border-color: .5px solid #5db075 !important;
}
.display-grid{
    margin: 0px 48px;
    display: inline-grid;
}
.map_icon {
    /* margin-left: 0; */
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 222;
    color: #5db075;
    cursor: pointer;
}

.sidebar .sidebar-dropdown [aria-expanded="true"]:before{
    display: none;
}

a.sidebar-link {
    line-height: 1;
}
.show a.collapsed.sidebar-link:after {
    width: 80%;
    margin-left: -90px;
    border-bottom: 0.1px #ddd solid;
    position: absolute;
    bottom: 0px;
    content: '';
}

/* .settings{
    display: none !important;
} */
/* .width-p{
    width: 80%;
    margin-left: 10%;
} */

ul.sidebar-nav > li.sidebar-item {
    margin: 10px 10px;
    text-transform: uppercase;
    border-bottom: #dddddd47 1px solid;
}
.select2-container {
    z-index: 2000;
}
