.text-color-chart{
    color : #5db075 !important;
}
.input-w-75{
    width: 70% !important;
    margin-left: 4em;
}
.none{
    display: none;
}
input,select{
    box-shadow: none !important;
    text-transform: uppercase;
}
.form-control{
    height: 42px !important;
    outline: none !important;
    border: 1px solid #ccc;
}
.btn{
    height: 42px !important;
}
.form-control:is(:focus,:active){
    border: .5px solid #5db075 !important;
    border-color: .5px solid #5db075 !important;
}
.display-grid{
    margin: 0px 48px;
    display: inline-grid;
}
#map_icon{
    margin-left: 17em;
    margin-top: -2em;
    position: absolute;
    z-index: 222;
    color: #5db075;
    cursor: pointer;
}
.a-add-site{
    font-weight : 800;
    color: #5db075 !important;
}
.icon-add{
    position: absolute;
    right: 1em;
}
.margin-left-4-18{
    margin-left : 4.18em;
}
.input-35{
    height: 35px !important;
}
.line-height-1-3{
    line-height : 1.3;
}
/* .settings{
    display: none !important;
} */
/* .width-p{
    width: 80%;
    margin-left: 10%;
} */

