
/* LeftSidebar.css */
.left-sidebar {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    background-color: #fff;
    color: #333;
    transition: width 0.5s ease;
    padding-inline:  16px;
    overflow-x: hidden;
    min-width: 200px;
    width: clamp(20vw,350px,30vw);
}

.left-sidebar::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
    background: white;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background: lightgray;
    -webkit-border-radius: 8px;
}

.left-sidebar::-webkit-scrollbar-corner {
    background: white;
}

  
.logo {
    text-align: center;
    padding: 20px 0;
}

.logoReducerWrapper{
    margin-top: 10px;
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: #5DB075;
    margin-bottom: 56px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.menuReducer{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: #5DB075;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 16px;
}
  
.menu-button {
    background-color: #fff;
    border: 1px solid #5DB075;
    color: #5DB075;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 32px;
    width: 100%;
}
  
.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu-items li {
    color: #7A817A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
  
.menu-items li:hover {
    background-color: #ecfff1;
    color: #5DB075;
}
  
.sidebar-controls {
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Push to the bottom */
    padding-bottom: 20px; /* Add padding to separate from the bottom */
}
  
.control-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #00FF00;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.menu-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.reduced-menu-icon{
    width: 20px;
    height: 20px;
}

.tree-icon {
    fill: #7A817A;
    stroke: #7A817A;
}

.tree-icon:hover{
    fill: #5DB075;
    stroke: #5DB075;
}

.c-container svg{
    margin-left: 1px;
}

.c-container .custom-dropdown{
    width: max-content;
}

