


  *{
    font-family: 'Product Sans', sans-serif;
  }

  input:focus{
    outline: 1px solid rgb(93, 176, 117);

  }

.form-wrapper {
    flex: 6;
    margin: auto;
    overflow-y: auto; 
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px; 
}
  
/* Center the form within the form wrapper */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style for form inputs and labels (customize as needed) */
.form-group {
    margin: 10px 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
}
  
label {
    font-weight: bold;
}

.custom-select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 50px;
    background-color: #fff; /* Background color (change to your preference) */
}

.form-input{
    width: 100%;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    height: 50px;
}
  
  /* Style for the submit button (customize as needed) */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button[type="submit"]:hover {
    background-color: #669975;
}
  
/* Style for the board-wrapper on the right */
.board-wrapper {
    background-image: url("https://cdn.pixabay.com/photo/2020/06/23/06/54/dji-5331597_640.jpg");
}
/* Style for the logo image (customize as needed) */
.logo img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .form-wrapper {
        margin-top: 150px;
    }
}