@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set up the container */
.container {
    height: 100vh;
    background-color: #F5F5F5;
}
.row{
    display: flex;
}
.logo-wrapper{
    font-weight: 400;
    font-size: 45px;
    margin: 10px;
}
.logo-first-side{
    color: #2D672A,;
}

.logo-second-side{
    color: #7EB956;
}
.form-wrapper {
    flex: 6;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    overflow-y: auto; 
    margin: 50px;
}

/* Style for the form wrapper */
.form-wrapper {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px; 
}
  
/* Center the form within the form wrapper */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style for form inputs and labels (customize as needed) */
.form-group {
    margin: 10px 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
}
  
label {
    font-weight: bold;
}
.custom-select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 50px;
    background-color: #fff; /* Background color (change to your preference) */
}
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 50px;
}
  
  /* Style for the submit button (customize as needed) */
button[type="submit"] {
    background-color: #5DB075; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}
  
button[type="submit"]:hover {
    background-color: #669975;
}
  
/* Style for the board-wrapper on the right */
.board-wrapper {
    flex: 6;
    background-image: url("https://cdn.pixabay.com/photo/2020/06/23/06/54/dji-5331597_640.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* Style for the logo image (customize as needed) */
.logo img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}