
  
.content-container {
    flex: 1;
}

.geo-map-wrapper{
    background-color: #F5F5F5;
    height: calc(100vh - 100px);
}

.custom-dropdown{
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
    margin-right: 20px;
    background-color: #F5F5F566;
}
.custom-dropdown:hover{
    outline: 1px solid #5DB075;
}


.custom-dropdown-item-container{
    z-index: 10;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 32px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: white;
    overflow: hidden;
}

.custom-dropdown-item{
    text-align: left;
    padding-left: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    &:hover{
        background-color: #F5F5F566;
        border-bottom: 1px solid #e5e5e5;
    }
    &.selected-range{
        color: #5DB075;
    }
}