/* Default styles for the header row */
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Default styles for the search input and icon */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    height: 40px;
}

.center-bloc{
    display: flex;
    justify-items: center;
    align-items: center;
}

.style-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Default styles for select inputs */
.select-input-wrapper select {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    outline: none;
}

/* Default styles for the user info */
.user-info-wrapper {
    display: flex;
    align-items: center;
}

.user-profile-name p {
    font-weight: bold;
}

.dropdown-icon{
    margin-left: 16px;
    height: 20px;
    width: 16px;
    cursor: pointer;
    min-width: 16px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .search-input-wrapper {
        margin-bottom: 10px;
    }

    .search-input {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .style-icon {
        margin-top: 10px;
        cursor: pointer;
    }

    .select-input-wrapper select {
        width: 100%;
    }

    .filter-button {
        width: 100%;
    }

    .user-info-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
